## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# VSIX
*.vsix
!*.vsix.zip

# Visual Studio cache/options
.vs/
*.suo
*.user
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Others
*.log
*.cache
*.ilk
*.pdb
*.exp
*.lib
